<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="table" [ngClass]="{'end': seconds === 0, 'come-to-end': seconds < 10 && seconds > 0}">
    <div class="table__row" *ngFor="let row of rows">
      <div class="table__cell" ngClass="{{cell.customClass}}" *ngFor="let cell of row.cells">
        {{cell.number}}
      </div>
    </div>
  </div>
  <div class="button-box">
    <div class="timer">
      <div class="timer-table">
        {{seconds}}
      </div>
      <div class="timer-button-box">
        <div class="button start" (click)="startTimer()">Старт</div>
        <div class="button reset" (click)="resetTimer()">Сброс</div>
      </div>
    </div>
    <div class="button" (click)="reset()">Обновить</div>
  </div>
</div>

